.search-bar {
  display: flex;

  transform: translateX(1328px);
  position: fixed;

  &__bar {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    background: white;
    height: 33px;
    padding: 10px 10px;
    border-radius: 999px;
    margin-top: 70px;

    input {
      border: none;
      outline: none;
      text-decoration: none;
      margin-left: 8px;
      font-size: 15px;
    }
  }
}

@media all and (max-width: 600px) {
  .search-bar {
    transform: translate(0, 0);
    position: inherit;
    margin-top: -34px;
    margin-left: 71px;
  }
}
